<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hustar.edu.vote.mapper.BoardMapper">

    <insert id="insertBoard" parameterType="BoardDTO">
        insert into tb_board(writer_idx, title, content, filter)
        values (#{writerIdx}, #{title}, #{content}, #{filter});
    </insert>

    <update id="updateBoardDetail" parameterType="BoardDTO">
        update tb_board
        set title = #{title},
            content = #{content},
            sysmoddate = #{sysmoddate}
        where idx = #{idx}
    </update>

    <select id="selectLikeBoardList" resultType="BoardDTO">
        SELECT *
        FROM tb_board a, (	SELECT filter as max_filter, MAX(LIKE_CNT) as max_like
                            FROM tb_board
                            group by filter ) b
        where a.use_yn = 'y'
        AND a.LIKE_CNT = b.max_like
        and a.FILTER = b.max_filter
        group by a.filter
        order by filter desc;
    </select>

    <select id="selectBoardList" parameterType="com.hustar.edu.vote.paging.Criteria" resultType="BoardDTO">
        SELECT c.*
        FROM (SELECT
        @ROWNUM := @ROWNUM + 1 AS rownum, a.idx as idx, b.NICKNAME as nick_name, a.title as title, a.CONTENT as content , a.SYSREGDATE as sysregdate, a.VIEW_CNT as view_cnt, a.LIKE_CNT AS like_cnt, a.FILTER AS filter
        FROM tb_board a,
        tb_user b,
        (SELECT @ROWNUM := 0) TMP
        WHERE a.use_yn = 'Y'
        <if test="filter != 'all' ">AND a.filter = #{filter}</if>
        <if test='keyword != null'>AND a.title Like CONCAT('%', #{keyword}, '%')</if>
        AND a.WRITER_IDX = b.IDX) c
        ORDER BY c.idx DESC,
        c.sysregdate DESC
        LIMIT #{start}, #{amount};
    </select>

    <select id="selectMyBoardList" parameterType="int" resultType="BoardDTO">
        SELECT c.*
        FROM (SELECT
        @ROWNUM := @ROWNUM + 1 AS rownum, a.idx as idx, b.NICKNAME as nick_name, a.title as title, a.CONTENT as content , a.SYSREGDATE as sysregdate, a.VIEW_CNT as view_cnt, a.LIKE_CNT AS like_cnt, a.FILTER AS filter
        FROM tb_board a,
        tb_user b,
        (SELECT @ROWNUM := 0) TMP
        WHERE a.use_yn = 'Y'
        AND a.WRITER_IDX = #{idx}
        AND a.WRITER_IDX = b.IDX
        ORDER BY a.idx DESC,
        a.sysregdate DESC) c
        LIMIT #{start}, #{amount};
    </select>

    <select id="selectBoardDetail" parameterType="int" resultType="BoardDTO">
        SELECT *
        FROM tb_board
        WHERE idx = #{idx}
    </select>

    <select id="selectBoardTotalCount" parameterType="com.hustar.edu.vote.paging.Criteria" resultType="int">
        SELECT COUNT(*)
        FROM tb_board
        WHERE use_yn = 'Y'
        <if test="filter != 'all' ">AND filter = #{filter}</if>
        <if test='keyword != null'>AND title Like CONCAT('%', #{keyword}, '%')</if>
    </select>

    <select id="selectMyBoardTotalCount" parameterType="com.hustar.edu.vote.paging.Criteria" resultType="int">
        SELECT COUNT(*)
        FROM tb_board
        WHERE use_yn = 'Y'
        AND writer_idx = #{idx}
    </select>

    <update id="deleteBoardDetail" parameterType="BoardDTO">
        update tb_board
        set use_yn = 'N'
        where idx = #{idx}
    </update>
</mapper>