<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hustar.edu.vote.mapper.CommentMapper">

    <select id="commentCount" resultType="int">
        SELECT
        COUNT(*)
        FROM tb_comment
    </select>

    <select id="commentList" parameterType="CommentDTO" resultType="CommentDTO">
        select a.*, b.profile_img as profileImg, b.nickname as nickname
        from tb_comment a, tb_user b
        where a.bno =#{bno}
        and a.board_nm = #{boardNm}
        and a.writer = b.idx
    </select>


    <insert id="commentInsert" parameterType="CommentDTO">
        INSERT INTO
            tb_comment (BNO, CONTENT, WRITER, SYSREGDATE, BOARD_NM)
        VALUES(#{bno},#{content},#{writer},now(), #{boardNm})
    </insert>

    <update id="commentUpdate" parameterType="CommentDTO">
        UPDATE tb_comment
        SET
        CONTENT = #{content}
        WHERE CNO = #{cno}
    </update>

    <delete id="commentDelete" parameterType="int">
        DELETE FROM tb_comment WHERE CNO = #{cno}
    </delete>
</mapper>
