<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hustar.edu.vote.mapper.PromiseMapper">
    <insert id="insertPromiseBoard" parameterType="BoardDTO">
        insert into tb_promise(writer_idx, title, content) values (#{writerIdx}, #{title}, #{content});
    </insert>
    <select id="selectPromiseBoardList" parameterType="com.hustar.edu.vote.paging.Criteria" resultType="PromiseDTO">
        SELECT *
        FROM tb_promise
        WHERE use_yn = 'Y'
        ORDER BY idx DESC,
                 sysregdate DESC
    </select>

    <select id="selectPromiseBoardTotalCount" parameterType="com.hustar.edu.vote.paging.Criteria" resultType="int">
        SELECT
            COUNT(*)
        FROM
            tb_promise
        WHERE
            use_yn = 'Y'
    </select>

    <select id="selectPromiseBoardDetail" parameterType="PromiseDTO" resultType="PromiseDTO">
        select
               a.IDX, a.TITLE, a.CONTENT, a.SYSREGDATE, a.CONTENT, a.VIEW_CNT, b.NICKNAME
        from
             tb_promise a, tb_user b
        where
              a.WRITER_IDX = b.IDX and a.USE_YN = 'y' and a.IDX = #{idx};
    </select>
        </mapper>