<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hustar.edu.vote.mapper.VoteMapper">

    <select id="selectVotingCount" resultType="int">
        SELECT
            COUNT(vote)
        FROM
            tb_user
        WHERE
            vote != 0 and use_yn = 'Y';
    </select>

    <select id="updateVoting" parameterType="tb_user">
        UPDATE
            tb_user
        SET
            vote = #{vote}
        WHERE
            idx = #{idx};
    </select>

    <select id="selectVotingList" resultType="int">
        SELECT
            COUNT(vote) , vote
        FROM
            tb_user
        WHERE
            VOTE != 0
        GROUP BY
            vote
        ORDER BY
            VOTE ASC;
    </select>

    <select id="selectChartView" resultType="int">
        select vote, count(vote), age_range
        from tb_user
        where AGE_RANGE IS not null
          and vote = #{vote}
          and AGE_RANGE = #{age_range};
    </select>

</mapper>