/*
Author: Bootstrapthemes
Author URI: http://bootstrapthemes.co
*/
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,
body {
  background-color: #fff;
  font-size: 14px;
  color: #797979;
  width: 100%;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  font-weight: 300;
  width: 100%;
  font-family: "ralewayregular";
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fefefe;
  z-index: 99999;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
}

.loaded {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url("../images/loading.gif");
  background-repeat: no-repeat;
  background-position: center;
  -moz-background-size: cover;
  background-size: cover;
  margin: -20px 0 0 -20px;
}
img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}
a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
}
a,
button,
a span {
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.btn:focus,
.btn:active {
  outline: inherit;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*    direction: rtl;*/
}
p {
  margin: 0 0 15px;
}

.clear {
  clear: both;
}

img {
  max-width: 100%;
  max-height: 100%;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  outline: none;
}

.form-control {
  display: inline-block;
  height: 38px;
  padding: 10px 2px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #000;
  background-color: #fff;
  background-image: none;
  border: 0px solid #ccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border-bottom: 2px solid #ddd;
}
/*.form-control:focus {
    border-color: #bcefeb;
}*/
.form-control:focus {
  border-color: #bcefeb;
  outline: 0;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075),
    0 0 0px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075),
    0 0 0px rgba(102, 175, 233, 0.6);
}
h1,
h2,
h3 {
  font-weight: 300;
  margin: 0;
}
h4,
h5 {
  font-weight: 300;
  margin: 0;
  line-height: 2rem;
}
h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 3.143rem;
  line-height: 5.5rem;
  color: #fff;
  letter-spacing: 0.4rem;
}
h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.371rem;
  line-height: 4rem;
  text-transform: uppercase;
  font-weight: 700;
}
h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.214rem;
  line-height: 2.5rem;
  color: #fff;
  font-weight: 400;
}
h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.286rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
/*h5 {
    font-size: 1.125rem;
    margin-bottom: 1rem;
    color:#223d61;
    text-transform: uppercase;
}
h6 {
    font-size: 1rem;
    margin-bottom: .9rem;
}*/
p {
  line-height: 2rem;
  font-size: 0.875rem;
}
p:last-child {
  margin-bottom: 0px;
}
/*.home-wrap h1,*/
.home-wrap h2,
.home-wrap h3,
.home-wrap h4,
.home-wrap h5,
.home-wrap p {
  color: #ffffff;
  /*font-family: 'roboto', sans-serif;*/
}
.textwhite {
  color: #fff;
}
.colorstext {
  color: #5e9a28;
}
.coloricon i {
  color: #5e9a28;
}
.colorsbg {
  background: #5e9a28;
  color: #ffffff;
}

.lightbg {
  background-color: #f9f9f9;
}
.transition {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}

.outofsectiontext {
  margin-top: 40px;
}

/*
Section
*/
.sections {
  padding-top: 10vh;
  padding-bottom: 10vh;

  /*overflow: hidden;*/
}
.sections.footer {
  padding-bottom: 5vh;
}
section .subtitle h5 {
  margin-top: 10px;
  font-size: 1.3rem;
}

section {
  width: 100vw;

  display: flex;
  align-items: center;
}
.parallax-section {
  max-width: 100%;
  color: #ffffff;
}
section .title-half h2 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 300;
  margin-bottom: 1.4rem;
}
section .subtitle-half h5 {
  font-weight: 100;
  font-size: 17px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.heading {
  margin-bottom: 4rem;
}
.overlay {
  background-color: rgba(41, 39, 34, 0.75);
  width: 100%;
  height: 100%;
}
/*.map-overlay {
    background-color: rgba(255, 114, 0, 0.75);
    width: 100%;
    height:auto;
}
.video_overlay {
    background-color: rgba(41, 39, 34, 0.75);
    width: 100%;
    height: auto;
}*/

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}
.fluid-blocks-col {
  padding: 70px 40px 0 80px;
}
.fluid-blocks-col-right {
  padding: 70px 80px 0 40px;
}
/*
Separator
*/
.separator {
  width: 10px;
  height: 10px;
  margin: 20px auto;
  background: #e74c3c;
  position: relative;
  display: inline-block;
  border-radius: 50%;
}
.separator:after {
  position: absolute;
  left: 5%;
  bottom: 4px;
  height: 1px;
  width: 80px;
  background: #eee;
  content: "";
  display: inline-block;
  margin-left: 20px;
}
.separator:before {
  position: absolute;
  right: 5%;
  bottom: 4px;
  height: 1px;
  width: 80px;
  background: #eee;
  content: "";
  display: inline-block;
  margin-right: 20px;
}
.separator2 {
  height: 4px;
  width: 40px;
  margin: 10px 0px;
  background: #eeeeee;
  position: relative;
}

.separator3 {
  height: 2px;
  width: 40px;
  margin: 20px auto;
  background: #888888;
}
.separator4 {
  height: 2px;
  width: 30px;
  margin: 20px 0px;
  background: #f38181;
}

.divider {
  height: 1px;
  background: #eee;
  width: 100%;
  overflow: hidden;
}
/*section:nth-of-type(odd) {
    background-color: #F9F9F9;
}*/
/*
Button
*/
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.disabled,
.btn-primary.disabled:hover {
  color: #ffffff;
  background-color: #e74c3c;
  border-color: #e74c3c;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #e74c3c;
  border-color: #e74c3c;
}
.btn {
  display: inline-block;
  min-width: 150px;
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
  margin: 0;
  font-size: 0.8125rem;
  border-radius: 0px;
  margin-top: 20px;
  transition: 0.5s;
  border: 1px solid #e74c3c;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  padding: 0.8rem 3rem;
  transition: all 0.6s;
  border-radius: 2px;
}
.btn:hover {
  box-shadow: 0px 2px 2px 1px rgba(221, 221, 221, 0.6);
  color: #fff;
}
.btn-default {
  background: transparent;
  border: 1px solid #fff;
  padding: 1.125rem 3rem;
}
.btn-default:hover {
  background: #e74c3c;
  border: 1px solid #e74c3c;
}
.btn-lg {
  background: #e74c3c;
  padding: 1.125rem 3rem;
}
.btn-md {
  background: #999999;
  padding: 1rem 2rem;
  border: 1px solid transparent;
}

/*
Extra height css
*/
.margin-top-20 {
  margin-top: 20px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-top-40 {
  margin-top: 40px;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}
.margin-top-60 {
  margin-top: 60px;
}
.margin-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}
.margin-bottom-60 {
  margin-bottom: 60px;
}
.margin-top-80 {
  margin-top: 80px;
}
.margin-top-200 {
  margin-top: 200px;
}
.margin-bottom-80 {
  margin-bottom: 80px;
}

.margin-bottom-400 {
  margin-bottom: 400px;
}
.m_t_10 {
  margin-right: 10px;
}
.padding-top-20 {
  padding-top: 1.33rem;
}
.padding-bottom-20 {
  padding-bottom: 1.33rem;
}
.padding-top-40 {
  padding-top: 2.66rem;
}
.padding-bottom-40 {
  padding-bottom: 2.66rem;
}
.padding-top-60 {
  padding-top: 5rem;
}
.padding-bottom-60 {
  padding-bottom: 5rem;
}
.padding-top-90 {
  padding-top: 6.429rem;
}
.padding-bottom-90 {
  padding-bottom: 6.429rem;
}
.padding-bottom-0 {
  padding-bottom: 0;
}
.p_l_r {
  padding-left: 5.714rem;
  padding-right: 5.714rem;
}
/*padding*/
.padding-twenty {
  padding: 10px 0;
}
.padding-fourty {
  padding: 20px 0;
}
.padding-sixty {
  padding: 30px 0;
}
.padding-eighty {
  padding: 40px 0;
}
h1 span {
  color: #5e9a28;
  font-weight: 400;
}

/*for placeholder changes*/

input::-webkit-input-placeholder {
  color: #ddd;
}
input::-moz-placeholder {
  color: #ddd;
}
input::-ms-input-placeholder {
  color: #ddd;
}

/* navbar2 section*/
.main_menu_bg2 {
  margin-top: 0px;
  background-color: transparent;
}
.main_menu_bg2 .navbar-default {
  background-color: transparent;
  border-color: transparent;
  transition: all 0.6s;
  margin: 15px auto;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #e74c3c;
  background: transparent;
}

.main_menu_bg2 .navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #e74c3c;
  padding-bottom: 22px;
  border-bottom: 1px solid #e74c3c;
  background: transparent;
}

.main_menu_bg2 .navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 0.875rem;
  color: #000000;
}

/* navbar section */
.menu-scroll {
  padding-top: 0px;
  padding-bottom: 0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 300;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-color: rgba(34, 61, 97, 0.64);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  height: 75px;
}

.main_menu_bg {
  margin-top: 0px;
  background-color: transparent;
}
.main_menu_bg .navbar-default {
  background-color: transparent;
  border-color: transparent;
  transition: all 0.6s;
  margin: 15px auto;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #e74c3c;
  background: transparent;
}

.main_menu_bg .navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #e74c3c;
  padding-bottom: 22px;
  border-bottom: 1px solid #e74c3c;
  background: transparent;
}

.main_menu_bg .navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 0.875rem;
  color: #fff;
}
.navbar-brand {
  padding: 0px 15px;
}
.navbar-brand > img {
  max-width: 80%;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #f5c239;
}

.dropdown-menu {
  min-width: 160px;
  padding: 0px;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: transparent;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 0px solid #ccc;
  border: 0px solid rgba(0, 0, 0, 0.15);
  border-radius: 0px;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.175);
  box-shadow: 0 0px 0px;
}

/*.dropdown-menu .navbar-form .form-group input[type="text"]{
    background-color:rgba(34, 61, 97, 0.68);
    border: 1px solid #e74c3c;
    color:#e74c3c;
    width: 300px;
}
.dropdown-menu .navbar-form .form-group .form-control::-webkit-input-placeholder{
    color: #e74c3c;
    opacity: 1; 
}
.dropdown-menu .navbar-form {
    margin-right: -30px;
}*/

.scrooldown {
  position: absolute;
  left: 48.5%;
  bottom: -13%;
  width: 40px;
  height: 40px;
  line-height: 48px;
  background: #f4f5f9;
  border-radius: 50%;
  text-align: center;
  z-index: 9;
}
.scrooldown a i {
  font-size: 1.5rem;
  color: #e74c3c;
}

.culmn {
  width: 100%;
  overflow: hidden;
}
/*heading title all area*/

.head_title h3 {
  color: #413d4b;
}
.head_title .subtitle {
  margin-top: 30px;
}
/*home section*/
.home {
  background: url("../images/background4.jpg") no-repeat center center;
  background-size: cover;
}
.home_skew_border {
  position: relative;
}

.main_home {
  display: block;
  margin-top: 15vh;
}

.main_home h1 {
  color: #fff;
  margin-bottom: 20px;
}
.main_home p {
  color: #fff;
  max-width: 60%;
  margin: 0 auto;
  padding-bottom: 30px;
  font-size: 1.125rem;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: #fff;
  outline: none;
  background: #e74c3c;
}
.slick-arrow {
  background: #ddd;
  color: #000;
}
.main_home_slider i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #e74c3c;
}
.main_home_slider i.nextprevleft {
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #000;
  background: #716a65;
  float: left;
  position: absolute;
  z-index: 999;
  top: 400px;
  font-size: 1.5rem;
  transition: all 0.6s;
  left: -60px;
}
.main_home_slider i.nextprevright {
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #000;
  background: #716a65;
  float: right;
  position: absolute;
  z-index: 999;
  top: 400px;
  font-size: 1.5rem;
  transition: all 0.6s;
  right: -50px;
}
.main_home_slider i.nextprevleft:hover {
  color: #fff;
  background: #e74c3c;
}
.main_home_slider i.nextprevright:hover {
  color: #fff;
  background: #e74c3c;
}

/*==================================================================
            Feature section Style
====================================================================*/

.main_feature .single_feature:hover .single_feature_icon {
  border-color: #e74c3c;
  transform: rotate(45deg);
}
.main_feature .single_feature:hover .single_feature_icon i {
  transform: rotate(-45deg);
}
.main_feature .single_feature:hover h4 {
  color: #e74c3c;
}
.main_feature .single_feature .single_feature_icon {
  border: 2px solid #ddd;
  width: 70px;
  height: 70px;
  line-height: 70px;
  margin: 20px auto;
  transition: all 0.6s;
}
.main_feature .single_feature i {
  margin-bottom: 30px;
  font-weight: bold;
  color: #e74c3c;
  transition: all 0.6s;
}
.main_feature .single_feature h4 {
  color: #fff;
  transition: all 0.6s;
}

/*==================================================================
            History section Style(스케줄)
====================================================================*/

.main_history .single_history_content .head_title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 10px;
  border-bottom: 3px solid #e74c3c;
}

.main_history .single_history_content .historytitle {
  border: 1px solid #e74c3c;
  font-size: 20px;
  background-color: #edebeb;
}

.main_history .single_history_content .historytitle ul li {
  margin-top: 10px;
  border-bottom: 1px solid #e74c3c;
}

/*======================================================================
                    portfolio section css
========================================================================*/
.btn-md:active,
.btn-md.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
}
button.btn-md:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  color: #e74c3c;
}
button.btn-md {
  text-align: center;
  color: #444;
  letter-spacing: 1px;
  margin: 0;
  font-size: 0.8125rem;
  border-radius: 0px;
  margin-top: 0px;
  background-color: transparent;
  transition: 0.5s;
  border: 0px solid #e74c3c;
  font-family: "montserratregular";
}
button.btn-md:hover {
  background-color: transparent;
  color: #e74c3c;
  text-decoration: none;
  border: 0px solid #f4720a;
}
.portfolio .toolbar {
  margin-bottom: 2%;
}
#portfoliowork {
  -moz-columns: 4;
  -webkit-columns: 4;
  columns: 6;
}
.tile {
  display: none;
}
.scale-anm {
  margin: 0px;
  width: 100%;
  /*margin-bottom: -6px;*/
}

.tile img {
  height: auto;
  display: inline-block;
  width: 100%;
}

.single_portfolio {
  position: relative;
  padding: 5px;
}

.single_portfolio:hover .grid_item_overlay {
  opacity: 1;
}

.grid_item_overlay {
  position: absolute;
  left: 10%;
  top: 10%;
  width: 80%;
  height: 80%;
  background: rgba(231, 76, 60, 0.6);
  color: #fff;
  padding: 20px;
  opacity: 0;
  transition: 0.6s;
  padding-top: 35%;
  z-index: 99;
}
.g_overlay_1 {
  padding-top: 16%;
}
.g_overlay_2 {
  padding-top: 85%;
}

.grid_item_overlay a i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  background: transparent;
}
.grid_item_overlay a:hover i {
  color: #e74c3c;
  background: #fff;
}

/*=====================================================================
                    counter section css
=======================================================================*/
.counter {
  background: url("../images/counterbg.jpg") no-repeat top center;
  background-size: cover;
}
.counter .main_counter_area {
  padding: 80px 20px;
}

.main_counter_area .single_counter h2 {
  color: #fff;
  font-size: 2.8125rem;
}
.main_counter_area .single_counter i {
  color: #fff;
  font-size: 1.875rem;
  display: inline-block;
  border: 1px solid #fff;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  margin-bottom: 30px;
  margin-top: 20px;
}
.main_counter_area .single_counter h4 {
  color: #fff;
  font-size: 0.8125rem;
  text-transform: lowercase;
}

/* Pricing2 Section */

.main_pricing_area {
  overflow: hidden;
}

.single_pricing {
  text-align: center;
  margin-top: 20px;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
}
.single_pricing:hover {
  box-shadow: 0px 1px 10px 1px #ccc;
}

.pricing_business .pricing_head {
  background: #e61e2b;
}
.pricing_business .pricing_head h3 {
  color: #fff;
}
.pricing_business .btn-md {
  background: #e61e2b;
}

.pricing_business2 .pricing_head {
  background: #294197;
}
.pricing_business2 .pricing_head h3 {
  color: #fff;
}
.pricing_business2 .btn-md {
  background: #294197;
}

.pricing_business3 .pricing_head {
  background: #ffca2c;
}
.pricing_business3 .pricing_head h3 {
  color: #fff;
}
.pricing_business3 .btn-md {
  background: #ffca2c;
}

.pricing_head {
  padding: 30px 0px;
  background: #999999;
  position: relative;
  height: 200px;
}
.pricing_head h3 {
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
}
.pricing_head .pricing_price {
  background: #fff;
  position: absolute;
  left: 30%;
  bottom: -30%;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  padding: 30px 0px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 10px rgba(244, 245, 249, 0.3);
}
.pricing_head .pricing_price .p_r {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 2.822rem;
}
.pricing_head .pricing_price .m_t {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 0.941rem;
}
.pricing_body {
  background: #f4f5f9;
  padding: 80px 0px 30px 0px;
}

.single_pricing ul li {
  line-height: 45px;
  height: 45px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.single_pricing a {
  margin-top: 30px;
}
/*=====================================================================
            behind section css(pricing)
=======================================================================*/

.pricing {
  background-color: #222222;
}
.pricing-title h2 {
  text-align: center;
  padding: 40px;
  color: #fff;
}
.pricing-title .subtitle {
  text-align: center;
  color: #fff;
}

.pricing {
  padding-top: 50px;
}

.swiper-slide-gallbox-pic01 {
  background: url("../images/behind01.jpg");
  background-size: cover;
  border-radius: 20px;
  width: 100%;
  height: 500px;
}

.swiper-slide-gallbox-pic01 a {
  display: block;
  width: 100%;
  height: 100%;
}

.swiper-slide-gallbox-pic01:hover {
  animation: up 0.5s;
  animation-fill-mode: both;
}

.swiper-slide-gallbox-pic01:hover a {
  background: rgba(131, 226, 255, 0.7);
  border-radius: 20px;
}

@keyframes up {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-20px);
  }
}

.swiper-slide-gallbox-pic02 {
  background: url("../images/behind02.jpg");
  background-size: cover;
  overflow: hidden;
  border-radius: 20px;
  width: 100%;
  height: 500px;
}

.swiper-slide-gallbox-pic02 a {
  display: block;
  width: 100%;
  height: 100%;
}

.swiper-slide-gallbox-pic02:hover {
  animation: up 0.5s;
  animation-fill-mode: both;
}

.swiper-slide-gallbox-pic02 a:hover {
  background: rgba(216, 33, 45, 0.7);
  cursor: pointer;
}

.swiper-slide-gallbox-pic03 {
  background: url("../images/behind03.jpg");
  background-size: cover;
  overflow: hidden;
  border-radius: 20px;
  width: 100%;
  height: 500px;
}

.swiper-slide-gallbox-pic03 a {
  display: block;
  width: 100%;
  height: 100%;
}

.swiper-slide-gallbox-pic03:hover {
  animation: up 0.5s;
  animation-fill-mode: both;
}

.swiper-slide-gallbox-pic03 a:hover {
  background: rgba(255, 202, 44, 0.7);
  cursor: pointer;
}

.swiper-slide-gallbox-pic04 {
  background: url("../images/behind04.jpg");
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 500px;
  border-radius: 20px;
}

.swiper-slide-gallbox-pic04 a {
  display: block;
  width: 100%;
  height: 100%;
}

.swiper-slide-gallbox-pic04:hover {
  animation: up 0.5s;
  animation-fill-mode: both;
}

.swiper-slide-gallbox-pic04 a:hover {
  background: rgba(234, 85, 4, 0.7);
  cursor: pointer;
}

.swiper-slide h2 {
  position: absolute;
  left: 0;
  width: 100%;
  top: 20%;
  color: #fff;
  font-size: 40px;
  padding-left: 10%;
}

.swiper-slide p {
  position: absolute;
  left: 0;
  width: 100%;
  top: 30%;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding-left: 10%;
}

.swiper-wrapper {
  padding-bottom: 60px;
}

.swiper-pagination {
}

.swiper-slide div {
  display: block;
}

.mySwiper02 {
  max-width: 1200px;
  height: 100%;
}

.mySwiper02 .swiper-slide {
  padding: 0 10px;
  overflow: visible;
}

.swiper-wrapper {
  padding-top: 30px;
}

/* Team section css */
.team {
  background: url("../images/teambg.svg") no-repeat scroll top center;
  background-size: cover;
}

.main_team_area {
  width: 100%;
  height: 100%;
}

.desk2 {
  float: left;
  width: calc(50% - 25px);
  padding: 0 25px 0 0;
}

.bar2 {
  overflow: hidden;
  margin-bottom: 20px;
}

h2.main_bar2 {
  float: left;
  font-family: "notokr-bold";
  color: #fff;
  font-size: 46px;
  line-height: 110%;
  letter-spacing: -1px;
}

.more1 {
  float: right;
  width: 90px;
  height: 52px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #f4720a;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  border-radius: 300px;
  cursor: pointer;
  transition: 0.3s;
}

.more1 i {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  color: #494949;
}

.more1:hover {
  background-color: rgba(216, 33, 45, 0.7);
  transition: 0.3s;
}

.list1 {
  border-top: solid 2px #d1d1d1;
  border-bottom: solid 2px #d1d1d1;
}

.list1 li {
  overflow: hidden;
  height: 100px;
  padding: 0 10px 0;
  margin: 0 -10px;
  box-sizing: border-box;
}

.list1 li:hover {
  background: #494949b5;
  border-radius: 20px;
  cursor: pointer;
}

.list1 li .cont {
  overflow: hidden;
  height: 100px;
  vertical-align: middle;
  display: table-cell;
}

.list1 li .cont .label {
  display: inline-block;
  text-align: center;
  width: 70px;
  font-family: "notokr-bold";
  color: #494949;
  font-size: 14px;
  line-height: 160%;
  background-color: #f4720a;
  border-radius: 300px;
}

.list1 li .cont .date {
  margin-left: 20px;
  font-family: "notokr-regular";
  color: #fff;
  font-size: 14px;
  line-height: 160%;
}

.list1 li .cont i {
  position: absolute;
  right: 40px;
  color: #fff;
}

.list1 li .cont h3 {
  overflow: hidden;
  padding: 11px 30px 0 0;
  font-family: "notokr-regular";
  color: #fff;
  font-size: 22px;
  line-height: 120%;
  font-weight: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
/*
.main_team ul li {
  text-align: center;
}
.main_team ul li:nth-child(1) {
  width: 25%;
  display: inline-block;
  margin-left: 3%;
  position: absolute;
  left: 1%;
}
.main_team ul li:nth-child(2) {
  width: 25%;
  display: inline-block;
  margin-left: 3%;
  position: absolute;
  left: 25%;
}
.main_team ul li:nth-child(3) {
  width: 25%;
  display: inline-block;
  margin-left: 3%;
  position: absolute;
  left: 45%;
}
.main_team ul li:nth-child(4) {
  width: 25%;
  display: inline-block;
  margin-left: 3%;
  position: absolute;
  left: 62%;
}

.main_team ul li .single_team_img img {
  width: 120px;
  height: 120px;
  margin: 20px auto;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 3px rgba(231, 76, 60, 0.65);
}

li:hover .single_team_img img {
  transform: scale(1.08);
}
li:hover .single_team_text {
  opacity: 1;
}
li .single_team_text {
  padding: 10px 20px;
  width: 100%;
  opacity: 0;
  transition: all 0.6s;
  text-align: center;
  display: block;
  height: 80px;
}
li .single_team_text h4 {
  margin-bottom: 0rem;
  display: inline-block;
  text-transform: none;
  color: #e74c3c;
}
li .single_team_text p {
  color: #fff;
}
*/

/* Carousel */
.main_testimonial {
  color: #fff;
}
.main_testimonial .single_testimonial i {
  color: #fff;
  margin-bottom: 30px;
  font-size: 2rem;
  padding: 2px;
}
.main_testimonial .single_testimonial p {
  color: #fff;
  letter-spacing: 0.03rem;
}
.main_testimonial .single_testimonial .single_test_author {
  margin-bottom: 40px;
  display: inline-block;
}
.main_testimonial .single_testimonial .single_test_author h4 {
  color: #fff;
  margin-bottom: 0px;
  font-size: 1rem;
}
.main_testimonial .single_testimonial .single_test_author h4 span {
  font-family: "ralewayregular";
}
.main_testimonial .single_testimonial .single_test_author p {
  color: #fff;
}

.main_testimonial .owl-theme .owl-dots .owl-dot span {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  transform: rotate(0deg);
}

/*=================================================================
                            Blog Section(투표)
===================================================================*/
.blog {
  background: #f4f5f9;
}

.blog a {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
/*contact section css*/
.contact {
  background: #f4f5f9;
}
.contact_info_content {
  background: #fff;
  overflow: hidden;
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.01);
}
.contact_info_content h3 {
  color: #e74e3e;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  margin-bottom: 19px;
}
.contact_info_content h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.contact_info_content h4 {
  margin: 0;
  padding: 0;
}
.single_contant_left {
  background: #fff;
  overflow: hidden;
  box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.01);
}
.single_contact_info {
  margin-bottom: 45px;
  overflow: hidden;
}

.votelink {
  width: 400px;
  height: 60px;
  background-color: #f4720a;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  border-radius: 300px;
  cursor: pointer;
  transition: 0.3s;
}

.votelink:hover {
  background-color: rgba(216, 33, 45, 0.7);
  transition: 0.3s;
}

.votelink .label {
  display: flex;
  height: 100%;
  font-family: "notokr-bold";
  color: #fff;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}

/*=================================================================
                        footer section
===================================================================*/
.footer {
  background: #000000;
}
.main_footer {
  overflow: hidden;
  padding: 20px 0px;
}

.main_footer .flowus a i {
  color: #fff;
  font-size: 1rem;
  padding: 5px;
  border-radius: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 18px;
  margin-top: 10px;
}
.main_footer .flowus a i:hover {
  color: #e74c3c;
}

.copyright_text {
  text-align: right;
}
.copyright_text p {
  color: #fff;
  line-height: 25px;
  max-width: 100%;
  padding-top: 15px;
}
.copyright_text p i {
  padding: 0px 10px;
  color: #ff0000;
}
.copyright_text p a {
  padding: 0px 10px;
  color: #e74c3c;
}

/* scrollup */

.scrollup {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  opacity: 0.3;
  position: fixed;
  bottom: 20px;
  right: 25px;
  color: #fff;
  cursor: pointer;
  background-color: #000;
  z-index: 1000;
  transition: opacity 0.5s, background-color 0.5s;
  -moz-transition: opacity 0.5s, background-color 0.5s;
  -webkit-transition: opacity 0.5s, background-color 0.5s;
}

.scrollup:hover {
  background: #e74c3c;
  opacity: 1;
}

.scrollup i {
  font-size: 13px;
  position: absolute;
  opacity: 1;
  color: #fff;
  left: 50%;
  top: 50%;
  margin-top: -7px;
  margin-left: -6px;
  text-decoration: none;
}

#countdown div span {
  display: block;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: initial;
  font-weight: 100;
  text-transform: uppercase;
}

#countdown div {
  display: inline-block;
  margin: 0 34px;
}
/*=====================================================================
                    board-list section css
=======================================================================*/

.promise-list-wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.list-box {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.list-box>ul>li {
  display: flex;
  border-bottom: 1px solid #ccc;
}

.list-box>ul>li>div {
  text-align: center;
  padding: 20px 0;
}

.list-box>ul>li>div.no {
  width: 10%;
}

.list-box>ul>li>div.subject {
  width: 50%;
}

.list-box>ul>li>div.date {
  width: 10%;
}

.list-box>ul>li>div.writer {
  width: 10%;
}

.list-box>ul>li>div.view-num {
  width: 10%;
}

.list-box>ul>li>div.recommend-num {
  width: 10%;
}

.list-box>ul.list-hd>li>div {
  border-top: 3px solid #000;
}

.list-box>ul.list-hd>li>div {
  font-size: 21px;
  font-weight: 600;
}

.list-box>ul.list-bd>li>div.subject {
  text-align: left;
}

.list-bd li a:hover {
  color:#e74c3c;
}

.list-btn {
  text-align: right;
  margin: 20px 0;
}

.list-btn a {
  display: inline-block;
  background: #000;
  color: #fff;
  line-height: 40px;
  padding: 0 20px;
  font-size: 15px;
  border-radius: 5px;
}

.list-btn a:hover {
  background: #e74c3c;
}

.paging>ul {
  display: flex;
  justify-content: center;
}

.paging>ul>li {
  margin: 0 5px;
}

.paging>ul>li>a {
  font-size: 17px;
  border: 1px solid #000;
  display: block;
  line-height: 30px;
  padding: 0 10px;
}

.paging>ul>li:first-child a {
  color: green;
}

.paging>ul>li:last-child a {
  color: green;
}

.paging>ul>li.on>a {
  font-weight: 600;
  color: red;
  border: 1px solid red;
}

.paging>ul>li:hover a {
  color: red;
  border: 1px solid red;
}


/*=====================================================================
                    board-list section css
=======================================================================*/

.board-wrap {
  max-width: 1200px;
  height: 1000px;
  margin: 0 auto;
  padding: 10px;
  margin-top: 50px;
}

.board-wrap p {
  font-size: 15px;
}

.board-wrap .board-title {
  display: flex;
  align-items: center;
  height: 5%;
  width: 100%;
  margin-bottom: 30px;
}

.board-wrap .board-title p {
  width: 10%;
  text-align: center;
}

.board-wrap .board-title span {
  display: block;
  width: 90%;
  height: 100%;
}

.board-wrap .board-content textarea {
  width: 100%;
}

.board-wrap .board-title input {
  border: 1px solid #999;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.board-wrap .board-content {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.board-wrap .board-upload {
  display: flex;
  height: 5%;
}

.board-wrap .board-upload span {
  display: block;
  width: 90%;
}

.board-wrap .board-upload input {
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 14px;
}

.board-wrap .board-button {
  text-align: center;
  font-size: 15px;
  margin-top: 15px;
}

.board-wrap .board-button button {
  margin: 10px;
}

.board-wrap .board-button button:first-child {
  border: 1px solid #999;
  padding: 20px 40px;
  color: #999;
}

.board-wrap .board-button button:first-child:hover {
  color: #f78928;
  border: 1px solid #f78928;
}

.board-wrap .board-button button:last-child {
  border: 1px solid #999;
  padding: 20px 40px;
  color: #999;
}

.board-wrap .board-button button:last-child:hover {
  color: #f78928;
  border: 1px solid #f78928;
}


/*=====================================================================
                    board-detail(view) section css
=======================================================================*/

.view-box {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.view-nav-title h2 {
  padding-bottom: 20px;
  font-size: 26px;
}

.view-inner-wrap {
  padding-bottom: 40px;
}

.view-inner-wrap-01 {
  margin-bottom: 60px;
}

.view-profile {
  display: flex;
  margin-bottom: 40px;
}

.view-profile-left {
  padding-right: 20px;
}

.view-profile-left-img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid blue;
}

.view-profile-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.view-profile-right a {
  font-size: 22px;
}

.view-profile-right p {
  font-size: 20px;
}

.view-title {
  margin-bottom: 20px;
}

.recommend-view-flex {
  display: flex;
}

.recommend-view-flex-wrap {
  display: flex;
}

.recommend-view-flex-wrap-left {
  padding-right: 10px;
}

.recommend-view-flex-wrap {
  font-size: 18px;
}

.view-txt {
  padding-bottom: 50px;
}

.view-txt p {
  font-size: 16px;
}

.view-button-vote {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.view-button-vote .view-vote {
  width: 60px;
  height: 60px;
  border: 2px solid #c62368;
  color: #c62368;
  border-radius: 4px;
  text-align: center;
  margin: 20px 5px 0 0;
}

.view-button-vote .view-vote:hover{
  border: 2px solid #e74c3c;
  color: #e74c3c;
}

.view-button-vote .view-declare {
  width: 60px;
  height: 60px;
  border: 2px solid #000;
  color: #000;
  border-radius: 4px;
  text-align: center;
  margin: 20px 5px 0 0;
}

.view-button-vote .view-declare:hover{
  border: 2px solid #e74c3c;
  color: #e74c3c;
}

.view-button-vote a p {
  font-size: 14px;
}

.view-button-vote div {
  padding-top: 10px;
}

.view-button-vote div i {
  padding-right: 3px;
}

.view-button-box {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 50px;
}

.view-list-button {
  padding-right: 5px;
}

.view-list-button button {
  width: 50px;
  height: 30px;
  border: 1px solid #000;
  color: #000;
  border-radius: 4px;
  text-align: center;
  background-color: #fff;
}

.view-list-button button:hover {
  width: 50px;
  height: 30px;
  border: 0;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  background-color: #e74c3c;
}

.view-write-button button {
  border:0;
  width: 80px;
  height: 30px;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  background-color: #000;
}

.view-write-button button:hover {
  border:0;
  width: 80px;
  height: 30px;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  background-color: #e74c3c;
}
/*==============End board Section==========================*/


/*=====================================================================
                    comment section css
=======================================================================*/

#form-commentInfo {
  width: 100%;
}

#comment-count {
  font-size:  18px;
  margin-bottom: 10px;
}

#comment-input {
  width: 90%;
  height: 3.3em;
}

.comment-submit {
  display: flex;
  justify-content: space-between;
}

#submit {
  width: 5.5em;
  height: 3.3em;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;

}

.button-submit button:hover {
  background-color: #e74c3e;
  color: #fff;
  border: 0;
}

#voteUp,
#voteDown {
  width: 3.5em;
  height: 1.9em;
  background-color: aqua;
}

#comments {
  margin-top: 10px;
}

.eachComment {
  width: 90%;
  margin: 10px;
  padding: 0.5em;
  border-bottom: 1px solid #c1bcba;
}

.eachComment .name {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.3em;
  display: flex;
  justify-content: space-between;
}

.eachComment .inputValue {
  font-size: 1.2em;
  font-style: italic;
}

.eachComment .time {
  font-size: 0.7em;
  color: #c1bcba;
  font-style: oblique;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.eachComment .voteDiv {
  display: flex;
  justify-content: flex-end;
}

.eachComment .deleteComment {
  background-color: #000;
  color: aliceblue;
}


/*=====================================================================
                    End comment section css
=======================================================================*/

.chartview {
  width: 50vw;
}
