/* 
---------------------------------------------
reset
--------------------------------------------- 
*/

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration-line: none;
}
/*
---------------------------------------------
비하인드 본문(behind-page) 시작
---------------------------------------------
*/
section.behind-page, section.board-page, section.boardCreate-page {
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 140px;
  padding-bottom: 140px;
}

section.behind-page .filters {
  text-align: center;
  margin-bottom: 60px;
}

section.behind-page .filters li {
  font-size: 13px;
  color: #a12c2f;
  background-color: #fff;
  padding: 11px 30px;
  display: inline-block;
  border-radius: 22px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all .3s;
  cursor: pointer;
  margin: 0px 3px;
}

section.behind-page .filters ul li.active,
section.behind-page .filters ul li:hover {
  background-color: #a12c2f;
  color: #fff;
}

.pagination {
  text-align: center;
  width: 100%;
  margin-top: 30px;
  display: inline-block;
}

.pagination ul li {
  display: inline-block;
}

.pagination ul li a {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 10px;
  color: #1f272b;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  font-weight: 600;
  font-size: 15px;
  transition: all .3s;
}

section.behind-page .main-button-red {
  text-align: center;
}

section.behind-page .main-button-red a {
  padding: 12px 60px;
  text-align: center;
  margin-top: 30px;
}

.pagination ul li.active a,
.pagination ul li a:hover {
  background-color: #a12c2f;
  color: #fff;
}
/*
---------------------------------------------
비하인드 본문(behind-page) 끝
---------------------------------------------
*/

/*
---------------------------------------------
비하인드 글 시작
---------------------------------------------
*/
.behind-item .thumb img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.behind-item .thumb .price {
  position: absolute;
  left: 20px;
  top: 20px;
}

.behind-item .thumb .price span {
  font-size: 16px;
  color: #1f272b;
  font-weight: 600;
  background-color: rgba(250,250,250,0.9);
  padding: 7px 12px;
  border-radius: 10px;
}

.behind-item .down-content {
  background-color: #fff;
  padding: 30px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.behind-item .down-content h4 { 
  font-size: 18px;
  color: #1f272b;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 15px;
}
/* 박스크기, 폰트 사이즈 css */
div.all {
  height: 500px;
  padding:10px;
}
.behind-contents > span {
  font-weight:300;
  font-size:15px;
}
/* 날짜랑 댓글 css */
.behind-contents > div {
  margin-top:5px;
  color:#7c7c7c;
}
.behind-contents > div >span:last-child {
   margin-left:10px;
}
/*
---------------------------------------------
비하인드 글 끝
---------------------------------------------
*/
/*
---------------------------------------------
게시판 목록 시작
---------------------------------------------
*/
.boardList-hd {
  border-top: 3px solid blue;
}
.boardList-hd > ul {
  margin-top: 10px;
  margin-bottom: 3px;
  display: flex;
}.boardList-ct {
  border-top: 1px solid #7c7c7c;
  text-align: center;
}
.boardList-ct > ul > li {
  margin: 10px 0;
  display: flex;
  width: 100%
}
.boardList-ct > ul > li > .num {
  width: 5%
}
.boardList-ct > ul > li > .title {
  width: 70%;
}
.boardList-ct > ul > .bd-contents > .title {
  margin-left: 20px;
  text-align: left;
}
.boardList-ct > ul > .bd-contents > .title > a {
  color: black;
}
.boardList-ct > ul > li > .writer {
  width: 10%
}
.boardList-ct > ul > li > .data {
  width: 10%
}
.boardList-ct > ul > li > .views {
  width: 5%
}
.category {
  color: #7c7c7c;
}
.container {
  position: relative;
}
.boardList-button {
  text-align: center;
  width: 100px;
  height: 40px;
  line-height: 40px;
  background: #a12c2f;
  border-radius: 15px;
  position: absolute;
  bottom: 20px;
  right: 0;
}
.boardList-button > a {
  width: 100%;
  height: 100%;
  display: block;
  color: white;
}
/*
---------------------------------------------
게시판 목록 끝
---------------------------------------------
*/
/*
---------------------------------------------
게시글 작성 시작
---------------------------------------------
*/
.boardCreate-hd {
  border-top: 3px solid blue;
}
.boardCreate-hd > ul {
  margin-top: 10px;
  margin-bottom: 3px;
}
.boardCreate-hd > ul > li::after {
  width: 1px;
  border: 1px solid;
}
.boardCreate-ct {
  padding-bottom: 50px;
}
.select {
  width: 600px;
  display: flex;
  border: 1px solid #7c7c7c;
}
.select > div {
  padding: 10px;
}
.fas {
  color: white;
}
.select > div:first-child {
  background: #eee;
}
.category {
  display: flex;
}
.category > div.cand {
  padding: 5px;
}
.category > div.cand:hover {
  color: white;
  border-radius: 20px;
  background: #cc3535;
  cursor: pointer;
}
.category > div.cand.active {
  color: white;
  border-radius: 20px;
  background: #cc3535;
}
.cand {
  margin-left: 20px;
}
.boardCreate-ct > ul > li {
  margin: 10px 0;
}
.boardCreate-ct > ul > li:nth-child(3) {
  margin-top: 50px;
}
.boardCreate-ct > ul > li > div:first-child {
  margin: 0 15px;
  margin-left: 30px;
}
.boardCreate-ct > ul > li > .title > input {
  padding: 10px;
  width: 600px;
}
.container {
  position: relative;
}
.boardCreate-bt {
  position: absolute;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
}
.boardCreate-button {
  text-align: center;
  border-radius: 15px;
  width: 100px;
  height: 40px;
  line-height: 40px;
}
.boardCreate-button-l {
  background: #7c7c7c;
}
.boardCreate-button-r {
  margin-left: 20px;
  background: #cc3535;
}
.boardCreate-button > a {
  width: 100%;
  height: 100%;
  display: block;
  color: white;
}
/*
---------------------------------------------
게시글 작성 끝
---------------------------------------------
*/