.votepage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(0, 0, 0, 0.8);
}

.votepage-title {
    padding-bottom: 30px;
}

.votepage-title-icon{
    display: flex;
    justify-content: center;
    position: relative;
    right: 70px;
    margin-bottom: 10px;
}

.votepage-title-icon i{
    font-size: 20px;
    color: #e74c3c;
    padding-right: 20px;
}

.votepage .votepage-title h2 {
    font-size: 50px;
    font-weight: 600;
    color: #e74c3c;
    display: flex;
    justify-content: center;
    margin: 0;
}

.votepage-title span {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 30px;
    color: #fff;
    display: flex;
    justify-content: center;
}


.votepage-title .subtitle {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

.votepage-title .subtitle p {
    text-align: center;
    color: #fff;
    font-size: 22px;
}

.comon-candidate{
    border-radius: 20px;
    width: 100%;
    height: 380px;
}

.comon-candidate input {
    display: none;
}

.comon-candidate label {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-top: 180px;
}

.comon-candidate h2 {
    left: 0;
    width: 100%;
    top: 20%;
    color: #fff;
    font-size: 40px;
    padding: 10%;
}

.comon-candidate p {
    left: 0;
    width: 100%;
    top: 30%;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding-left: 10%;
}
.vote-date-expirebox ul{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.vote-date-expirebox p{
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
    color: #fff;
}

.vote-date-expirebox ul li {
    display: flex;
    align-items: center;
}

.vote-date-expirebox ul li i {
    font-size: 40px;
    padding-right: 20px;
    color: #e74c3c;
}

.vote-date-expirebox a {
    position: relative;
    width: 200px;
    height: 70px;
    margin: 20px;
}

.vote-date-expirebox a .votingbtn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 30px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    z-index : 1 ;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(15px);
}

.vote-date-expirebox a:hover .votingbtn{
    letter-spacing: 3px;
}

.vote-date-expirebox a .votingbtn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.15),
    transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
}
.vote-date-expirebox a:hover .votingbtn::before {
    transform: skewX(45deg) translateX(200%);
}

.vote-date-expirebox a::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    width: 30px;
    height: 10px;
    background-color: #e74c3c;
    border-radius: 10px;
    transition: 0.3s;
}

.vote-date-expirebox a:hover::before {
    bottom : 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.3s;
}

.vote-date-expirebox a::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
    width: 30px;
    height: 10px;
    background-color: #e74c3c;
    border-radius: 10px;
    transition: 0.3s;
}

.vote-date-expirebox a:hover::after {
    top : 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.3s;
}
.vote-date-expirebox a:nth-child(1)::before,
.vote-date-expirebox a:nth-child(1)::after {
    background-color: #e74c3c;
    box-shadow: 0 0 5px #e74c3c,
    0 0 15px #e74c3c,
    0 0 15px #e74c3c,
    0 0 15px #e74c3c;
}

.candidate01 {
    display: inline-block;
    background: url("../images/votepage01.jpg");
    background-size: 100% 100%;

}


.candidate01 label:hover {
    background: rgba(131, 226, 255, 0.7);
    border-radius: 20px;
    cursor: pointer;
}

.candidate01:hover h2 {
    color: black;
}

.candidate01:hover p {
    color: black;
}



.candidate01 input[checked] + label {
    animation-play-state: paused;
    background: rgba(131, 226, 255, 0.7);
    border-radius: 20px;
    cursor: pointer;

}

.candidate02 input[checked] + label {
    animation-play-state: paused;
    background: rgba(216, 33, 45, 0.7);
    border-radius: 20px;
    cursor: pointer;

}

.candidate03 input[checked] + label {
    animation-play-state: paused;
    background: rgba(255, 202, 44, 0.7);
    border-radius: 20px;
    cursor: pointer;
}

.candidate04 input[checked] + label {
    animation-play-state: paused;
    background: rgba(234, 85, 4, 0.7);
    border-radius: 20px;
    cursor: pointer;
}

.comon-candidate .vote-checked {
    width: 90%;
    height: 90%
}

#voting input[checked] + label > .vote-checked {
    position: absolute;
    bottom: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../images/vote.png");
    background-size: 150px;
    animation-play-state: paused;
    border-radius: 20px;
    cursor: pointer;
}



@keyframes up {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-30px);
    }
}

.candidate02 {
    display: inline-block;
    background: url("../images/votepage02.jpg");
    background-size: 100% 100%;

}


.candidate02 label:hover {
    background: rgba(216, 33, 45, 0.7);
    cursor: pointer;
    border-radius: 20px;
}

.candidate02:hover h2 {
    color: black;
}

.candidate02:hover p {
    color: black;
}

.candidate03 {
    display: inline-block;
    background: url("../images/behind03.jpg");
    background-size: 100% 100%;

}



.candidate03:hover label {
    background: rgba(255, 202, 44, 0.7);
    border-radius: 20px;
    cursor: pointer;
}

.candidate03:hover h2 {
    color: black;
}

.candidate03:hover p {
    color: black;
}

.candidate04 {
    display: inline-block;
    background: url("../images/votepage04.jpg");
    background-size: 100% 100%;

}



.candidate04:hover label {
    background: rgba(234, 85, 4, 0.7);
    border-radius: 20px;
    cursor: pointer;
}

.candidate04:hover h2 {
    color: black;
}

.candidate04:hover p {
    color: black;
}
